@media (max-width: 599px ) {
  .modal {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
 }

  .button-close {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #5C4383;
    border-radius: 50%;
    font-size: 16px;
    color: white;
  }

  .img-banner {
    max-width: 360px;
  }

  .description {
    text-align: justify;
    color: #5C4383;
  }

  .perso-age {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
  } 

  .propriedade {
    text-align: justify;
  }
}

@media (min-width: 600px ) {
  .modal {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
 }

  .button-close {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #5C4383;
    border-radius: 50%;
    font-size: 16px;
    color: white;
  }

  .img-banner {
    max-width: 360px;
  }

  .description {
    text-align: justify;
    color: #5C4383;
  }

  .perso-age {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
  } 

  .propriedade {
    text-align: justify;
  }
}

@media (min-width: 900px ) {
  .modal {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
 }

  .button-close:hover {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #5C4383;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }

  .img-banner {
    max-width: 360px;
  }

  .description {
    text-align: justify;
    color: #5C4383;
  }

  .perso-age {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
  } 

  .propriedade {
    text-align: justify;
  }
}

@media (min-width: 1200px ) {
  .modal {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
 }

  .button-close {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #5C4383;
    border-radius: 50%;
    font-size: 16px;
    color: white;
  }

  .img-banner {
    max-width: 360px;
  }

  .description {
    text-align: justify;
    color: #5C4383;
  }

  .perso-age {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
  } 

  .propriedade {
    text-align: justify;
  }
}

@media (min-width: 1800px ) {
  .modal {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
 }

  .button-close:hover {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #5C4383;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }

  .img-banner {
    max-width: 360px;
  }

  .description {
    text-align: justify;
    color: #5C4383;
  }

  .perso-age {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
  } 

  .propriedade {
    text-align: justify;
  }
}