on: [push, pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
        - name: Verifica o repositório do Git
          uses: actions/checkout@v2

        - name: Instala o node com a versão
          uses: actions/setup-node@v1
          with:
            node-version: 16

        - name: instalando as dependências
          run: npm install

        - name: executando o lint para verificar se há erros
          run: npx eslint .
  cypress-run:
    runs-on: ubuntu-20.04
    needs: [eslint]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
  deploy:
    runs-on: ubuntu-latest
    needs: [eslint, cypress-run]
    steps:
         steps:
      - name: checkout do projeto/codigo
        uses: actions/checkout@v3
      
      - name: instalacao node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
    
      - name: instalando libs
        run: npm install
    
      - name: build do projeto
        run: npm run build

      - name: deploy netlify
        uses: jsmrcaga/action-netlify-deploy@v1.1.0
        with:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
            NETLIFY_SITE_ID: fffd36d8-978a-4d3d-81ec-a4e850e714d1